.DegradeButton {
    width: 200px;
    height: 48px;
    border-radius: 24px;
    background: linear-gradient(
        110deg,
        rgba(96, 0, 222, 1) 30%,
        rgba(0, 255, 255, 1) 80%
    );
    color: var(--white);
    margin: 20px 0px;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    justify-self: flex-start;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
        font-weight: 700;


}

.DegradeButton:hover {
    background: linear-gradient(
        110deg,
        rgba(96, 0, 222, 1) 0%,
        rgba(0, 255, 255, 0.8) 0%
        );
        background-color: black;
    }

.create-account {
    width: 28px;
    height: 28px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(4.5px);
    backdrop-filter: blur(4.5px);
    background-color: rgba(144, 144, 255, 0.6);
    position: absolute;
    right: 10px;
}

.DegradeButton:hover .create-account {
    background-color: var(--primary-blue);
}